*.o
*.d
*.Td
OpenBOR.elf
meta.xml
/engine/version.h
/engine/resources/Info.plist
engine/releases/
/engine/ide/vs/.vs/
/engine/ide/vs/Debug/
/tools/devkitpro/devkitPPC
/tools/devkitpro/libogc
/tools/devkitpro/portlibs
/tools/psp-sdk/bin
/tools/psp-sdk/i686-pc-cygwin
/tools/psp-sdk/include
/tools/psp-sdk/info
/tools/psp-sdk/lib
/tools/psp-sdk/libexec
/tools/psp-sdk/man
/tools/psp-sdk/psp
/tools/psp-sdk/psplink
/tools/psp-sdk/share
/tools/win-sdk/bin
/tools/win-sdk/etc
/tools/win-sdk/i686-w64-mingw32
/tools/win-sdk/include
/tools/win-sdk/lib
/tools/win-sdk/libexec
/tools/win-sdk/licenses
/tools/win-sdk/msys
/tools/win-sdk/opt
/tools/win-sdk/share
/tools/win-sdk/build-info.txt
/tools/mingit/mingw32
/.vs
