*.o
*.d
*.Td
OpenBOR.elf
meta.xml
/engine/version.h
/engine/resources/Info.plist
engine/releases/
/engine/ide/vs/.vs/
/engine/ide/vs/Debug/
/tools/mingit/mingw32
/.vs
engine/resources/OpenBOR.res
tools/bin/.wget-hsts
tools/win-sdk/*
!tools/win-sdk/win-sdk.7z
tools/psp-sdk/*
tools/devkitpro/*
!tools/devkitpro/devkitPro.7z
engine/android/app/src/main/assets/bor.pak
/openbor_vs
engine/ios/Build
**/.DS_Store
tools/borpak/source/borpak
