*.o
*.d
*.Td
OpenBOR.elf
meta.xml
/engine/version.h
/engine/version.generated.tmp
/engine/version.txt
/engine/resources/Info.plist
engine/releases/
/engine/ide/vs/.vs/
/engine/ide/vs/Debug/
/tools/mingit/mingw32
/.vs
engine/resources/OpenBOR.res
tools/bin/.wget-hsts
tools/win-sdk/*
!tools/win-sdk/win-sdk.7z
/openbor_vs
**/.DS_Store
tools/borpak/source/borpak
tools/borpak/source/borpak.exe
build/
